<div class="row">
	<div class="col-sm-12">
		<!--
			? input pour récupérer le filtre depuis le parent ?
		-->
		<div class="mat-elevation-z2">
			<table mat-table [dataSource]="dataSource" matSort matSortDisableClear>
				<ng-container matColumnDef="nom">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                    <td mat-cell *matCellDef="let row"> {{row.nom}} </td>
				</ng-container>
				<ng-container matColumnDef="base de données">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Base de données </th>
					<td mat-cell *matCellDef="let row"> row.database.name </td>
				</ng-container>
				<!-- <ng-container matColumnDef="début" *ngIf={{row.IsTest}}> -->
				<ng-container matColumnDef="date début">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Date debut </th>
					<td mat-cell *matCellDef="let row"> {{row.start}} </td>
				</ng-container>
				<!-- <ng-container matColumnDef="fin" *ngIf={{row.IsTest}}> -->
				<ng-container matColumnDef="date fin">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Date fin </th>
					<td mat-cell *matCellDef="let row"> {{row.finish}} </td>
				</ng-container>
				<ng-container matColumnDef="statut">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
					<td mat-cell *matCellDef="let row"> row.getState </td>
				</ng-container>
				<!-- <ng-container matColumnDef="évaluation" *ngIf={{row.IsTest}}> -->
					<ng-container matColumnDef="évaluation">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Evaluation </th>
					<td mat-cell *matCellDef="let row"> row.getEval </td>
				</ng-container>
				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
					<td mat-cell *matCellDef="let row"> les boutons </td>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
			</table>
		</div>
	</div>
</div>