textarea {
    width: 100%;
    color: mediumturquoise;
    font-size: 130%;
}

.buttons {
    margin: 5px;
}

.buttons button {
    margin: 5px;
}

.add_solution {
    display: flex;
    justify-content: right;
}

.solution {
    display: flex;
    flex-direction: row;
}

code-editor {
    flex: 1;
    margin: 0 5px 0 5px;
}

.solution > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;/* Centrer les boutons verticalement */
}

.solution > .delete {
    height: fit-content;
    align-self: center;
}
