<mat-expansion-panel>
	<mat-expansion-panel-header
			(opened)="changeTitle(true)"
			(closed)="changeTitle(false)">
		<mat-panel-title>
			{{ panelTitle }}
		</mat-panel-title>
	</mat-expansion-panel-header>
	
	<!-- <mat-expansion-panel-header (opened)="myisExtanded = true" (closed)="myisExtanded = false">
		<mat-panel-title>
			{{ myisExtanded ? openTitle : closeTitle }}
		</mat-panel-title>

	</mat-expansion-panel-header> -->

	<!-- Contenu à afficher/masquer -->

	<div>
		les boutons
	</div>
	Inititulé
	<textarea rows="5">{{ question.body }}</textarea>
	<div *ngFor="let solution of question.solutions">
		<code-editor [(ngModel)]="solution.sql" [readOnly]="canEdit()"></code-editor>
	</div>

</mat-expansion-panel>