<div class="header">
    <div class="nav-button">
        <button mat-elevated-button
            [disabled]="isFirst" (click)="navigateToPrevious">
            <mat-icon>arrow_drop_left</mat-icon>
        </button>
        <button mat-elevated-button
            [disabled]="isLast" [routerLink]="['/question/', question.next]">
            <mat-icon>arrow_drop_right</mat-icon>
        </button>
    </div>
    <h3>{{ title }}</h3>
    <button mat-elevated-button [disabled]="!canSave">
        <mat-icon>cross</mat-icon>
    </button>
</div>