<div class="myheader">
    <div class="nav-button">
        <button mat-elevated-button tabindex="-1"
            [disabled]="isFirst" (click)="navigateToPrevious()">
            <mat-icon>arrow_left</mat-icon>
        </button>
        <button mat-elevated-button tabindex="-1"
            [disabled]="isLast" (click)="navigateToNext()">
            <mat-icon>arrow_right</mat-icon>
        </button>
    </div>
    <h3>{{ header }}</h3>
    <span matTooltip="Fermer tentative" *ngIf="canEdit">
        <button mat-elevated-button [disabled]="!canSave">
            <mat-icon>clear</mat-icon>
        </button>
    </span>
</div>
<h1>{{ body }}</h1>
<div>{{ label }}</div>
<code-editor [(ngModel)]="query" [readOnly]="!canWrite"
    [database]="dbName"></code-editor>
<div class="nav-button">
    <button mat-elevated-button (click)="send()" *ngIf="canEdit">Envoyer</button>
    <button mat-elevated-button (click)="erase()" *ngIf="canEdit">Effacer</button>
    <button mat-elevated-button (click)="showSolutions()" *ngIf="canSeeSolutions">{{ solutionBtnLabel }}</button>
</div>
<query-result [qr]="queryResult"></query-result>
<div *ngIf="displaySolutions">
    <div *ngFor="let solution of question.solutions">
        <h2>Solution {{ solution.order }}</h2>
        <pre>{{ solution.sql }}</pre>
    </div>
</div>