<div class="myheader">
    <div class="nav-button">
        <button mat-elevated-button
            [disabled]="isFirst" (click)="navigateToPrevious()">
            <mat-icon>arrow_left</mat-icon>
        </button>
        <button mat-elevated-button
            [disabled]="isLast" (click)="navigateToNext()">
            <mat-icon>arrow_right</mat-icon>
        </button>
    </div>
    <h3>{{ header }}</h3>
    <button mat-elevated-button [disabled]="!canSave">
        <mat-icon>cancel</mat-icon>
    </button>
</div>
<h1>{{ body }}</h1>
<div>{{ label }}</div>
<code-editor [(ngModel)]="sql"></code-editor>
<div class="nav-button">
    <button mat-elevated-button (click)="send()">Envoyer</button>
    <button mat-elevated-button (click)="erase()">Effacer</button>
    <button mat-elevated-button (click)="showSolutions()">Voir solutions</button>
</div>
<div *ngIf="displaySolutions">
    <div *ngFor="let solution of question.solutions">
        <h2>Solution {{ solution.order }}</h2>
        <pre>{{ solution.sql }}</pre>
    </div>
</div>