.form {
    display: grid;
    grid-template-columns: 50% 50%;
}

button {
    margin: 10px 5px 0 5px;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.type {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.toggle {
    display: flex;
    flex-direction: column;
}

.date {
    margin: 10px;
}

.grid {
    display: grid;
    grid-template-columns: auto 1fr; /* Deux colonnes de largeur automatique */
    grid-template-rows: repeat(3, auto); /* Trois lignes de hauteur automatique */
    gap: 8px; /* Espacement entre les éléments */
    align-items: center; /* Alignement vertical des éléments dans chaque ligne */
}

.grid label {
    grid-column: 1; /* Les labels sont dans la première colonne */
    grid-row: span 1; /* Les labels occupent une seule ligne */
    margin-bottom: 4px; /* Espace sous chaque label */
    margin-right: 10px;
}

.input {
    grid-column: 2; /* Les éléments d'entrée sont dans la deuxième colonne */
    grid-row: span 1; /* Les éléments d'entrée occupent une seule ligne */
}

.date {
    grid-column: 2; /* Les éléments du div de class 'date' sont dans la deuxième colonne */
    grid-row: span 1; /* Les éléments du div de class 'date' occupent une seule ligne */
    display: flex; /* Les éléments du div de class 'date' seront dans un conteneur flex pour les aligner horizontalement */
    justify-content: left; /* Les éléments du div de class 'date' sont alignés avec un espacement entre eux */
    width: 100%; /* Les éléments du div de class 'date' occupent toute la largeur de la colonne */
}


.date mat-form-field {
    width: calc(35% - 4px); /* Chaque élément du div de class 'date' occupe 35% de la largeur avec un espace de 4px entre eux */
    margin-right: 10px; /* Ajoute un espacement de 4px à droite de chaque élément du div de class 'date' */
}

.date mat-form-field:last-child {
    margin-right: 0; /* Supprime l'espace à droite du dernier élément du div de class 'date' */
}

.grid2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}