<form id="form" [formGroup]="editQuizForm" novalidate>
	<div class="form">
		<div class="grid">
			<label>Nom</label>
			<mat-form-field>
				<input class="input" matInput [formControl]="ctlName" required>
				<mat-error class="field-error" *ngIf="ctlName.hasError('required')">Required</mat-error>
				<mat-error class="field-error" *ngIf="ctlName.hasError('minlength')">Minimum length is
					{{ctlName.errors?.minlength?.requiredLength}}</mat-error>
				<mat-error class="field-error" *ngIf="ctlName.hasError('nameUsed')">Name already in use</mat-error>
			</mat-form-field>
			<label>Description</label>
			<mat-form-field>
				<input class="input" matInput [formControl]="ctlDescription">
			</mat-form-field>
			<label>Type de quiz</label>
			<mat-radio-group class="input" [formControl]="ctlType">
				<mat-radio-button value="Training">Training</mat-radio-button>
				<mat-radio-button value="Test">Test</mat-radio-button>
			</mat-radio-group>
			<div class="date">
				<mat-form-field *ngIf="ctlType.value === 'Test'">
					<input matInput [matDatepicker]="start" placeholder="Date début" [formControl]="ctlStart">
					<mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
					<mat-datepicker #start></mat-datepicker>
				</mat-form-field>

				<mat-form-field *ngIf="ctlType.value === 'Test'">
					<input matInput [matDatepicker]="finish" placeholder="Date fin" [formControl]="ctlFinish">
					<mat-datepicker-toggle matSuffix [for]="finish"></mat-datepicker-toggle>
					<mat-datepicker #finish></mat-datepicker>
				</mat-form-field>
			</div>
		</div>

		<div class="grid2">
			<mat-form-field class="database">
				<mat-label>Base de données</mat-label>
				<mat-select [formControl]="ctlDatabase">
					<mat-option *ngFor="let db of dbs.data" [value]="db">{{ db.name }}</mat-option>
				</mat-select>
			</mat-form-field>
			<div class="toggle">
				<label>Publié</label>
				<mat-slide-toggle [formControl]="ctlPublished"></mat-slide-toggle>
			</div>

			<div class="buttons">
				<span matTooltip="Enregistrer" *ngIf="canEdit">
					<button type="submit" mat-mini-fab form="form"
						[disabled]="editQuizForm.pristine || editQuizForm.invalid || editQuizForm.pending"
						(click)="update()">
						<mat-icon>save</mat-icon>
					</button>
				</span>
				<span matTooltip="Supprimer">
					<button mat-mini-fab tabindex="-1" (click)="delete()">
						<mat-icon>delete</mat-icon>
					</button>
				</span>
			</div>
		</div>
	</div>
</form>
<h3>Questions</h3>
<edit-question *ngFor="let question of qsts.data" [question]="question"></edit-question>